@using TaoWebApplication.Extensions
@using TaoWebApplication.Models
@model IpaNemKapcsoltModel

@{
    ViewBag.Title = "Ipa nem kapcsolt";
}

@using (Html.BeginForm("IpaNemKapcsolt", "Tao", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 DivStyle">
                <table class="TaoDataTable table">
                    <thead>
                        <tr>
                            <th width="5%" style="text-align:center">#</th>
                            <th class="col-md-9">Leírás</th>
                            <th class="col-md-2" style="text-align:center">Érték</th>
                            
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Fields.Count; i++)
                    {
                        if (Model.Fields[i].SectionGroup != 1)
                        {
                            continue;
                        }

                        @Html.HiddenFor(m => Model.Fields[i].Id);
                        <tr>
                            <td style="text-align:center;">
                                @Model.Fields[i].OrderCharacter
                            </td>
                            <td>
                                @Model.Fields[i].Title
                            </td>
                            <td>
                                @Html.CreateActualControl((IFieldList)Model, i)
                            </td>
                        </tr>
                    }

                    @for (int i = 0; i < Model.Fields.Count; i++)
                    {
                        if (Model.Fields[i].SectionGroup < 6)
                        {
                            continue;
                        }
                        @Html.HiddenFor(m => Model.Fields[i].Id);
                        <tr>
                            <td>
                                @Model.Fields[i].OrderCharacter
                            </td>
                            <td>
                                @Model.Fields[i].Title
                            </td>
                            <td>
                                @Html.CreateActualControl((IFieldList)Model, i)
                            </td>

                            <td>
                                @Model.Fields[i].Description
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="col-md-6 DivStyle">
                <table class="TaoDataTable table" style="margin-bottom:0px; padding:4px;">
                    <thead>
                        <tr>
                            <th width="3%" style="text-align:center">#</th>
                            <th class="col-md-8">Megnevezés</th>
                            <th class="col-md-2">Adatok forintban</th>
                        </tr>
                    </thead>


                    @GenerateSection("1. Nettó árbevétel besorolása az egyes nettó árbevétel sávokba", 2)
                    @GenerateSection("2. Adott bevételi sávba jutó ELÁBE és közvetített szolgáltatás meghatározása\n(össze ELÁBE és közvetített szolgáltatás * adott sávba jutó nettó árbevétel/összes nettó árbevétel)", 3)
                    @GenerateSection("3. Adott bevételi sávba (korlátosan) levonható ELÁBE és közvetített szolgáltatás meghatározása", 4)
                    @GenerateSection("4. Figyelembe vehető ELÁBÉ és közvetített szolgáltatás értékének meghatározása \n(2. és 3. számolt értékek közül a kisebb)", 5)

                </table>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6 DivStyle" style="display:flex; justify-content: center;">
                <button type="submit" value="Previous" name="buttonAction" class="btn btn-default">Mentés és előző </button>
                <button type="submit" value="Save" name="buttonAction" class="btn btn-default" style="margin-left:10px;margin-right:10px;">Mentés</button>
                <button type="submit" value="Next" name="buttonAction" class="btn btn-default">Mentés és következő</button>
                <button type="submit" value="SaveAll" name="buttonAction" class="btn btn-default">Mindent újraszámol</button>
            </div>
        </div>
    </div>
}


@helper GenerateSection(string caption, int index)
{
    <tr>
        <td style="text-align:center; border:double;" colspan="3">
            <b>  @Html.Raw(Html.Encode(caption).Replace("\n", "<br />"))</b>   
        </td>
    </tr>
    for (int i = 0; i < Model.Fields.Count; i++)
    {
        if (Model.Fields[i].SectionGroup != index)
        {
            continue;
        }

        @Html.HiddenFor(m => Model.Fields[i].Id);
        <tr>
            <td style="text-align:center">
                @Model.Fields[i].OrderCharacter
            </td>
            <td>
                @Model.Fields[i].Title
            </td>
            <td>
                @Html.CreateActualControl((IFieldList)Model, i)
            </td>
        </tr>
    }
}