@using TaoWebApplication.Models
@using TaoContracts.Contracts

@model SelectorModel

@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center;
       color: lightseagreen;
        font-style: italic">
    "Az emberek csak azért gondolják, hogy a matematika nehéz, mert még nem döbbentek rá, hogy az élet maga milyen bonyolult." <br />Neumann János<br />
    <br /><br />
</div>

@using (Html.BeginForm("SelectCustomer", "Selector", FormMethod.Post))
{

    <div class="container pull-left" style="width: 100%">
        Válassz ki egy rögzítésre szánt céget:<br />
        @Html.DropDownListFor(m => m.SelectedCustomerId, new SelectList(Model.Customers, "Id", "Nev"), new { onchange = "this.form.submit();", style = $"width:100%; background-color:yellow;" })
    </div>
}


<div style="color: red;">
    <br /><br />
    <br />Ellenőrizd az alábbi cégadatok helyességét.<br /><br />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 DivStyle">
            <table class="TaoDataTable table" style="margin-bottom:0px" ">

                <tr>
                    <td>Cég név</td>
                    <td>@Model.SelectedCustomer.Nev</td>
                </tr>
                <tr>
                    <td>Adószám</td>
                    <td>@Model.SelectedCustomer.Adoszam</td>
                </tr>

                <tr>
                    <td>Címek</td>
                    <td>
                        @foreach (var address in Model.SelectedCustomer.Address)
                        {
                            @address.PostCode  @address.City <br/>
                            @address.Street @address.StreetType @address.Building @address.Stairway @address.Floor @address.Door <br/><br />
                        }

                    </td>
                </tr>

                <tr>
                    <td>KSH szám</td>
                    <td>@Model.SelectedCustomer.KSHSzam</td>
                </tr>
                <tr>
                    <td>WL szám</td>
                    <td>@Model.SelectedCustomer.WLSzam</td>
                </tr>
                <tr>
                    <td>Cégjegyzékszám</td>
                    <td>@Model.SelectedCustomer.Cegjegyzekszam</td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td>
                        @Model.SelectedCustomer.Phone <br />
                        @Model.SelectedCustomer.Phone2
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        @Model.SelectedCustomer.Email<br />
                        @Model.SelectedCustomer.Email2
                    </td>
                </tr>
                <tr>
                    <td>Könyvelés pénzneme</td>
                    <td>
                        @Model.SelectedCustomer.KonyvelesPenzneme.Megnevezes (@Model.SelectedCustomer.KonyvelesPenzneme.Egyseg @Model.SelectedCustomer.KonyvelesPenzneme.ISO)
                    </td>
                </tr>
                <tr>
                    <td>Bbeszámoló pénzneme</td>
                    <td>
                        @Model.SelectedCustomer.BeszamoloPenzneme.Megnevezes (@Model.SelectedCustomer.BeszamoloPenzneme.Egyseg @Model.SelectedCustomer.BeszamoloPenzneme.ISO)
                    </td>
                </tr>
            </table>
        </div>

        @using (Html.BeginForm("TartalomjegyzekStart", "Tao", FormMethod.Post))
        {
            @Html.HiddenFor(m => Model.SelectedCustomer.Id);

            <div class="col-md-6 DivStyle">
                <table class="TaoDataTable table" style="margin-bottom:0px">
                    <tbody>
                        <tr>
                            <td>
                                Új dokumentum kezdés:
                                <input type="submit" value="Új bevallás" name="StartNew" class="btn btn-default" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        <div class="col-md-6 DivStyle">
            <table class="TaoDataTable table" style="margin-bottom:0px">
                <thead>
                    <tr>
                        <th class="col-md-1">Státusz</th>
                        <th class="col-md-1">Kezdés</th>
                        <th class="col-md-1">Utolsó módosítás</th>
                        <th class="col-md-5"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CustomerSessions != null)
                    {
                        foreach (var session in Model.CustomerSessions)
                        {
                            <tr>
                                <td>@session.DocumentState</td>
                                <td>@session.StartDateTime.ToString("yyyy-MM-dd")</td>
                                <td>@session.LastModifyDate.ToString("yyyy-MM-dd")</td>
                                <td>
                                    @if (session.DocumentState != "Closed" || session.DocumentState != "Sent")
                                    {
                                        using (Html.BeginForm("TartalomjegyzekStart", "Tao", FormMethod.Post))
                                        {
                                            @Html.HiddenFor(m => m.SelectedCustomer.Id);
                                            <button type="submit" value=@session.Id name="Continue" class="btn btn-default">Folytat</button>
                                            <button type="submit" value=@session.Id name="ExportIpa" class="btn btn-default">Export IPA</button>
                                            <button type="submit" value=@session.Id name="ExportTarsasagi" class="btn btn-default">Export Társasági</button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>