@using TaoWebApplication.Models
@using TaoWebApplication.Extensions
@model TartalomjegyzekModel

@{
    ViewBag.Title = "Home Page";
    var currentPage = @Model.Pages.FirstOrDefault(p => p.Name == "Tartalomjegyzek");
}

<div class="container-fluid">
    Ide is jöhet bármilyen szép és hangzatos felirat<br /><br />
</div>

@using (Html.BeginForm("Tartalomjegyzek", "Tao", FormMethod.Post))
{
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 DivStyle">
            <table class="table TaoDataTable">
                <thead>
                    <tr>
                        <th width="5%" style="text-align:center">#</th>
                        <th class="col-md-7">Leírás</th>
                        <th class="col-md-2">Érték</th>
                        <th class="col-md-3">Megjegyzés</th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Fields.Count; i++)
                {
                    if (Model.Fields[i].SectionGroup == 2)
                    {
                        continue;
                    }

                    @Html.HiddenFor(m => Model.Fields[i].Id);
                    <tr>
                        <td>
                            @Model.Fields[i].OrderCharacter
                        </td>
                        <td>
                            @Model.Fields[i].Title
                        </td>
                        <td>
                            @Html.CreateActualControl((IFieldList)Model, i)
                        </td>
                        <td>
                            @Model.Fields[i].Description
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-md-6 DivStyle">
            <table class="table TaoDataTable">
                <thead>
                    <tr>
                        <th width="5%" style="text-align:center">#</th>
                        <th class="col-md-4">Leírás</th>
                        <th class="col-md-2">Érték</th>
                        <th class="col-md-3">Megjegyzés</th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Fields.Count; i++)
                {
                    if (Model.Fields[i].SectionGroup != 2)
                    {
                        continue;
                    }
                    @Html.HiddenFor(m => Model.Fields[i].Id);
                    <tr>
                        <td>
                            @Model.Fields[i].OrderCharacter
                        </td>
                        <td>
                            @Model.Fields[i].Title
                        </td>
                        <td>
                            @Html.CreateActualControl((IFieldList)Model, i)
                        </td>

                        <td>
                            @Model.Fields[i].Description
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6 DivStyle" style="display:flex; justify-content: center;">
                <button type="submit" value="Previous" name="buttonAction" class="btn btn-default col-md-3">Mentés és előző </button>         
                <button type="submit" value="Save" name="buttonAction" class="btn btn-default col-md-2" style="margin-left:10px;margin-right:10px;">Mentés</button>
                <button type="submit" value="Next" name="buttonAction" class="btn btn-default col-md-3">Mentés és következő</button>
        </div>
    </div>
</div>
}
