@using TaoDatabaseService
@using TaoWebApplication.Models
@model TartalomjegyzekModel

@{
    ViewBag.Title = "Home Page";
    var currentPage = @Model.Pages.FirstOrDefault(p => p.Name == "Tartalomjegyzek");
}

<div>
    Ide is jöhet bármilyen szép és hangzatos felirat<br /><br />
</div>

@using (Html.BeginForm("Tartalomjegyzek", "Tao", FormMethod.Post))
{
    <div>
        <div class="InnerLeft" style="width: 60%; float:left; border:outset;">
            <table class="CustomerDataTable table">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-3">Leírás</th>
                        <th class="col-md-2">Érték</th>
                        <th class="col-md-4">Megjegyzés</th>
                    </tr>
                </thead>

                @foreach (var field in @Model.PageDescriptors)
                {

                    <tr>
                        <td>
                            @field.Order
                        </td>
                        @{
                            var fieldDescriptor = Model.Fields.FirstOrDefault(f => f.Id == field.FieldId);
                            var color = fieldDescriptor.IsEditable ? "yellow" : "white";

                            <td>
                                @fieldDescriptor.Title
                            </td>

                            <td>
                                @if (!fieldDescriptor.IsEditable || fieldDescriptor.IsCaculated)
                                {
                                    @Html.LabelFor(m => fieldDescriptor.StringValue, new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id, @style = $"width:100%; background-color:{@color};" })
                                }
                                else if (!string.IsNullOrEmpty(fieldDescriptor.TypeOptions))
                                {

                                    var comboItems = new List<SelectListItem>
                                        ();
                                    foreach (var item in fieldDescriptor.TypeOptions.Split(';'))
                                    {
                                        comboItems.Add(new SelectListItem { Value = item, Text = item });
                                    }

                                    @Html.DropDownListFor(m => fieldDescriptor, new SelectList(comboItems, "Value", "Text", fieldDescriptor.StringValue), new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id, style = $"width:100%; background-color:{@color};" });


                                }                            }
                                else
                                {
                                if (fieldDescriptor.TypeName == "bool")
                                {

                                Html.CheckBox(fieldDescriptor.Id.ToString(),  fieldDescriptor.BoolFieldValue, new { id = fieldDescriptor.Id,  Name = fieldDescriptor.Id});


                                }
                                else if (fieldDescriptor.TypeName == "date")
                                {

                                @Html.TextBoxFor(model => fieldDescriptor.StringValue, new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id, @type = "date", @class = "form-control datepicker", @style = $"background-color:{@color};" });


                                }
                                else
                                {
                                @Html.TextBoxFor(m => fieldDescriptor.StringValue, new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id, @style = $"width:100%; background-color:{@color};" });

                                }
                            </td>

                            <td>
                                @field.Description
                            </td>
                        }
                    </tr>
                }
            </table>
            <div>
                <input type="submit" value="Mentés" class="btn btn-default" />
            </div>
        </div>

        <div class="InnerRight" style="width: 30%; float:left; margin-left:40px; margin-bottom:40px; border:outset">
            <div class="row">
                <div class="col-md-1">
                    <h4>Lap</h4>
                </div>
                <div class="col-md-6">
                    <h4>Megnevezés</h4>
                </div>
            </div>

            @foreach (var page in Model.Pages)
            {
                <div class="row">
                    <div class="col-md-1">
                        @page.Number <br />
                    </div>
                    <div class="col-md-6">
                        @page.Title <br />
                    </div>
                </div>
            }
        </div>
    </div>


}
