@using TaoDatabaseService
@using TaoWebApplication.Models
@using Newtonsoft.Json
@model TartalomjegyzekModel

@{
    ViewBag.Title = "Home Page";
    var currentPage = @Model.Pages.FirstOrDefault(p => p.Name == "Tartalomjegyzek");
}

@using (Html.BeginForm("Tartalomjegyzek", "Tao", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SessionId);
    @Html.HiddenFor(m => m.CustomerId);
    <div class="jumbotron">
        <h3>@currentPage.CaptionText</h3>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h3>A Társaság azonosító adatai</h3>
        </div>
    </div>
    foreach (var field in @Model.PageDescriptors)
    {

        var fieldDescriptor = Model.Fields.FirstOrDefault(f => f.Id == field.FieldId);
        var color = fieldDescriptor.IsEditable ? "yellow" : "white";
        <div class="row">
            <div class="col-md-1">
                @fieldDescriptor.Title <br />
            </div>

            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(fieldDescriptor.TypeOptions))
                {

                    var comboItems = new List<SelectListItem>();
                    foreach (var item in fieldDescriptor.TypeOptions.Split(';'))
                    {
                        comboItems.Add(new SelectListItem { Value = item, Text = item });
                    }

                    @Html.DropDownListFor(m => fieldDescriptor, new SelectList(comboItems, "Value", "Text", fieldDescriptor.FieldValue), new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id,  style = $"width:100%; background-color:{@color};" })
                }
                else
                {
                       @Html.TextBoxFor(m => fieldDescriptor.FieldValue, new { @id = fieldDescriptor.Id, @Name = fieldDescriptor.Id, @style = $"width:100%; background-color:{@color};" })
                }
            </div>

            <div class="col-md-4">
                @field.Description <br />
            </div>

        </div>
    }

    <input type="submit" value="Save 2" class="btn btn-default" />
    <br /><br />

    <div class="row">
        <div class="col-md-1">
            <h4>Lap</h4>
        </div>
        <div class="col-md-3">
            <h4>Megnevezés</h4>
        </div>
    </div>

    foreach (var page in Model.Pages)
    {
        <div class="row">
            <div class="col-md-1">
                @page.Number <br />
            </div>
            <div class="col-md-3">
                @page.Title <br />
            </div>
        </div>
    }
}