<!DOCTYPE html>
@using TaoWebApplication.Models
@model ModelBase
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>
<body style="background-color:#e6f2ff;">

    <script type="text/javascript">
        document.onkeyup = function (e) {
            var e = e || window.event; // for IE to cover IEs window event-object
            if (e.ctrlKey && e.which == 77) {
                document.getElementsByName("buttonAction")[1].click();
                return false;
            }
        };
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Model.CurrentPage != null)
                    {
                        <li>@Html.ActionLink("Kezdőlap", "Index", "Selector")</li>
                        <li>@Html.ActionLink("0. Alapadatok", "Tartalomjegyzek", "Tao")</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                1. Tényadatok
                            </a>
                            <div class="dropdown-menu navbar-inverse">
                                <a class="dropdown-item" href="/Tao/Tenyadatok">1. Tényadatok</a><br />
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                2. IPA
                            </a>
                            <div class="dropdown-menu navbar-inverse">
                                @if (Model.IpaKapcsolt.Value)
                                {
                                    <a class="dropdown-item" href="/Tao/IPAKapcsolt">2.2 IPA kapcsolt</a><br />
                                    <a class="dropdown-item" href="/Tao/IPAKapcsoltStatus">2.2.1 IPA kapcsolt státusz</a><br />
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/Tao/IPANemKapcsolt">2.1 IPA nem kapcsolt</a><br />
                                }
                                <a class="dropdown-item" href="/Tao/InnovaciosJarulek">2.3  Innovácios Járulék</a><br />
                                <a class="dropdown-item" href="/Tao/IpaMegosztas">2.4  IPA megosztás</a><br />
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                3. TAO kiegészítő adatok
                            </a>
                            <div class="dropdown-menu navbar-inverse">
                                <a class="dropdown-item" href="/Tao/AEEVarhatoAdatok">3.1 AEE várható adatok</a><br />
                                <a class="dropdown-item" href="/Tao/Alultokesites">3.2 Alultőkésítés</a><br />
                                <a class="dropdown-item" href="/Tao/TaggalSzembeniKotelezettseg">3.3 Taggal szembeni kötelezettség</a><br />
                                <a class="dropdown-item" href="/Tao/TaoAdoalapKorrekcio">3.4 Adóalap korrekció</a><br />
                                <a class="dropdown-item" href="/Tao/AthozottVeszteseg">3.4.1 Áthozott veszteség</a><br />
                                <a class="dropdown-item" href="/Tao/NyeresegminimumLevezetese">3.5 TAO nyereségminimum</a><br />
                                <a class="dropdown-item" href="/Tao/Adokedvezmeny">3.6 TAO adókedvezmény</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                4. TAO
                            </a>
                            <div class="dropdown-menu navbar-inverse">
                                <a class="dropdown-item" href="/Tao/TarsasagiAdo">4. TAO</a><br />
                                <a class="dropdown-item" href="/Tao/AdozottEredmeny">4.1 Adózott eredmény</a><br />
                            </div>
                        </li>
                        if (Model.IsEnergiaellato)
                        {
                            <li>@Html.ActionLink("5. Energiaellátók", "EnergiaEllatok", "Tao")</li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                6. Tájékoztató adatok
                            </a>
                            <div class="dropdown-menu navbar-inverse">
                                <a class="dropdown-item" href="/Tao/Merleg">6.1 Mérleg</a><br />
                                <a class="dropdown-item" href="/Tao/Eszkozok">6.2 Eszközök</a><br />
                                <a class="dropdown-item" href="/Tao/Ertekcsokkenes">6.3 Értékcsökkenés</a><br />
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="container-fluid" style="height: 110px; display:block; margin-left:auto; margin-right:auto; margin-top:30px;">
            <div class="row">
                <div class="col-md-4" style="margin-top:30px; ">
                    @if (Model.Customer != null)
                    {
                        <div style="border:outset;">
                            Cégnév: @Model.Customer.Nev <br />
                            Adószám: @Model.Customer.Adoszam
                        </div>
                    }

                </div>
                <div class="col-md-4">
                    <img src="~/Images/logo.png" style="height: 110px; display:block; margin-left:auto; margin-right:auto;" />
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center; color:darkslategrey;">

                    @if (Model.CurrentPage != null)
                    {
                        <h2 style="margin-block-start: 0px;">
                            @Model.CurrentPage.CaptionText
                            <br />
                        </h2>
                    }
                </div>
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
    </html>
